#cursor-dot {
    position: fixed;
    width: 12px;
    height: 12px;
    background-color: #37e631;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease;
    z-index: 9999;
  }
  
  #cursor-dot-outline {
    /* position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid #72c968;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease;
    z-index: 9998; */
  }
  